<section id="about">

    <h2>Song Name: {{songData.song_name}}</h2>

    <div class="row info">

    <div class="small-12 medium-12 large-6 float-left artist">
    <img src="/images/{{songData.artist_img}}" alt="artist_image">
    </div>
    
    <div class="small-12 medium-12 large-6 float-right details">
        <p>Artist: {{songData.artist_name}}</p>
        <p>Release Date: {{songData.song_date}}</p>
        <p>Genre: {{songData.song_genre}}</p>
        <p>Album: {{songData.song_album}}</p>
        <p>Composers: {{songData.song_composers}}</p>
    </div>
    </div>

    <div class="row extra">

    <!--<div class="small-12 medium-12 large-6 float-left album">
    <img src="/images/{{pokemonData.song_img}}" alt="song_image">
    </div>-->

    <div class="small-12 medium-12 large-offset-2 large-8 large-offset-2 text-center video">
    <video width="100%" controls>
    <source src="/videos/{{songData.song_video}}" type="video/mp4">
    </video>
    </div>

    </div>
    
</section>
